.App {
  text-align: center;
}

.openModal {
  margin: 3rem;
  padding: 1rem;
  background-color: burlywood;
  border: 1px solid black;
  border-radius: 30px;
  font-size: larger;
}

.openModal:hover {
  background-color: rgb(226, 159, 71);
  cursor: pointer;
}
